# Quantized model

In [16]:
from mlx_lm import load, generate 
import os

In [8]:
model, tokenizer = load("/Users/tesla/mlx_model")

prompt = "What is SQL"

messages = [{"role": "user", "content": prompt}]
prompt = tokenizer.apply_chat_template(
    messages, tokenize=False, add_generation_prompt=True
)

response = generate(model, tokenizer, prompt=prompt, max_tokens=400, verbose=True)

==========
Prompt: <s>[INST] What is SQL[/INST]
SQL (Structured Query Language) is a programming language used to manage and manipulate relational databases. It was first introduced by IBM in the 1970s and has since become a standard for database management systems. SQL is used to create, modify, and query databases, as well as to define and manipulate the logical structure of a database.

SQL is a declarative language, meaning that it is used to specify what data is needed, rather than how to retrieve it. It is composed of several types of statements, including:

1. Data Definition Language (DDL) statements: These are used to create, alter, and drop database objects such as tables, views, and indexes.
2. Data Manipulation Language (DML) statements: These are used to insert, update, delete, and select data from tables.
3. Data Control Language (DCL) statements: These are used to control access to the database, such as granting or revoking privileges.

SQL is an essential tool for developers, database administrators, and data analysts who work with databases on a daily basis. It is supported by most relational database management systems, including MySQL, Oracle, PostgreSQL, and Microsoft SQL Server.
==========
Prompt: 7 tokens, 39.193 tokens-per-sec
Generation: 266 tokens, 35.061 tokens-per-sec
Peak memory: 7.595 GB

In [10]:
prompt = """why does this give an error: 
select client_id 
from (select client_id, sum(total_sales) as total 
from works_with 
group by client_id)  
where total > 100000;"""

messages = [{"role": "user", "content": prompt}]
prompt = tokenizer.apply_chat_template(
    messages, tokenize=False, add_generation_prompt=True
)

response = generate(model, tokenizer, prompt=prompt, max_tokens=500, verbose=True)

==========
Prompt: <s>[INST] why does this give an error:
select client_id
from (select client_id, sum(total_sales) as total
from works_with
group by client_id)
where total > 100000;[/INST]
The error is likely due to the fact that you are trying to perform a `WHERE` clause on a subquery that does not return a single column. In your query, the subquery returns a table with two columns: `client_id` and `total`. However, the `WHERE` clause expects a single column to compare against the value `100000`.

To fix this error, you can either rewrite the query to use a `HAVING` clause instead of a `WHERE` clause, or you can use an aggregate function like `MAX()` to select the maximum total from the subquery and compare it to `100000`. Here's an example of how you can do that:

```sql
SELECT client_id
FROM (
    SELECT client_id, SUM(total_sales) as total
    FROM works_with
    GROUP BY client_id
) subquery
WHERE (
    SELECT MAX(total)
    FROM (
        SELECT client_id, SUM(total_sales) as total
        FROM works_with
        GROUP BY client_id
    ) subquery
) > 100000;
```

In this query, the outermost subquery calculates the total sales for each client, and the innermost subquery finds the maximum total sales across all clients. The outer query then selects the client_id of any client whose total sales is greater than the maximum total sales across all clients.
==========
Prompt: 62 tokens, 65.857 tokens-per-sec
Generation: 339 tokens, 33.973 tokens-per-sec
Peak memory: 7.595 GB

## Finetuned with LoRa

In [1]:
import subprocess

In [8]:
def run_command_with_live_output(command: list[str]) -> None:
    """
    Courtesy of ChatGPT:
    Runs a command and prints its output line by line as it executes.

    Args:
        command (List[str]): The command and its arguments to be executed.

    Returns:
        None
    """
    process = subprocess.Popen(command, stdout=subprocess.PIPE, stderr=subprocess.PIPE, text=True)

    # Print the output line by line
    while True:
        output = process.stdout.readline()
        if output == '' and process.poll() is not None:
            break
        if output:
            print(output.strip())
        
    # Print the error output, if any
    err_output = process.stderr.read()
    if err_output:
        print(err_output)

In [29]:
model_path = "mlx_model"
fused_model = "lora_fused_model"
adapter_path = "adapters.npz" 
max_tokens = 500
max_tokens_str = str(max_tokens)

prompt = """Retrieve the names and species of all animals that weigh more than 500 kg
CREATE TABLE animals (id INT, name VARCHAR(20), species VARCHAR(20), weight DECIMAL(5, 2)); INSERT INTO animals (id, name, species, weight) VALUES (1, 'Elephant', 'African', 6000), (2, 'Lion', 'African', 400), (3, 'Hippo', 'African', 3000), (4, 'Tiger', 'Asian', 300), (5, 'Crane', 'African', 100), (6, 'Rhinoceros', 'African', 2000), (7, 'Zebra', 'African', 450), (8, 'Giraffe', 'African', 1200), (9, 'Bear', 'Eurasian', 600), (10, 'Crocodile', 'Nile', 700);"""

```
SELECT name, species FROM animals WHERE weight > 500;
```

In [31]:
# define command
command = ['python', 'scripts/lora.py', '--model', model_path, '--adapter-file', adapter_path, '--max-tokens', max_tokens_str, '--prompt', prompt]

# run command and print results continuously
run_command_with_live_output(command)

huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)

Loading pretrained model
Total parameters 1133.580M
Trainable parameters 0.852M
Loading datasets
Generating
<s>[INST] Retrieve the names and species of all animals that weigh more than 500 kg
CREATE TABLE animals (id INT, name VARCHAR(20), species VARCHAR(20), weight DECIMAL(5, 2)); INSERT INTO animals (id, name, species, weight) VALUES (1, 'Elephant', 'African', 6000), (2, 'Lion', 'African', 400), (3, 'Hippo', 'African', 3000), (4, 'Tiger', 'Asian', 300), (5, 'Crane', 'African', 100), (6, 'Rhinoceros', 'African', 2000), (7, 'Zebra', 'African', 450), (8, 'Giraffe', 'African', 1200), (9, 'Bear', 'Eurasian', 600), (10, 'Crocodile', 'Nile', 700);[/INST]Select names and species from animals where weight > 500;
This query selects the names and species of all animals that weigh more than 500 kg in the animals table.
==========

In [30]:
model, tokenizer = load("mlx_model")
messages = [{"role": "user", "content": prompt}]
prompt = tokenizer.apply_chat_template(
    messages, tokenize=False, add_generation_prompt=True
)

response = generate(model, tokenizer, prompt=prompt, max_tokens=500, verbose=True)

==========
Prompt: <s>[INST] Retrieve the names and species of all animals that weigh more than 500 kg
CREATE TABLE animals (id INT, name VARCHAR(20), species VARCHAR(20), weight DECIMAL(5, 2)); INSERT INTO animals (id, name, species, weight) VALUES (1, 'Elephant', 'African', 6000), (2, 'Lion', 'African', 400), (3, 'Hippo', 'African', 3000), (4, 'Tiger', 'Asian', 300), (5, 'Crane', 'African', 100), (6, 'Rhinoceros', 'African', 2000), (7, 'Zebra', 'African', 450), (8, 'Giraffe', 'African', 1200), (9, 'Bear', 'Eurasian', 600), (10, 'Crocodile', 'Nile', 700);[/INST]
To find the names and species of animals that weigh more than 500 kg, you can use SQL's WHERE clause to filter the results. Here's the SQL query:

```sql
SELECT name, species FROM animals WHERE weight > 500;
```

Executing this query on the provided table will return the following results:

```
name     | species
---------|-------
Elephant | African
Hippo    | African
Rhinoceros| African
Crane    | African
Bear     | Eurasian
Crocodile| Nile
```

These are the animals that weigh more than 500 kg according to the provided table.
==========
Prompt: 253 tokens, 255.093 tokens-per-sec
Generation: 157 tokens, 31.597 tokens-per-sec
Peak memory: 7.595 GB

In [32]:
model, tokenizer = load("lora_fused_model")
messages = [{"role": "user", "content": prompt}]
prompt = tokenizer.apply_chat_template(
    messages, tokenize=False, add_generation_prompt=True
)

response = generate(model, tokenizer, prompt=prompt, max_tokens=500, verbose=True)

==========
Prompt: <s>[INST] <s>[INST] Retrieve the names and species of all animals that weigh more than 500 kg
CREATE TABLE animals (id INT, name VARCHAR(20), species VARCHAR(20), weight DECIMAL(5, 2)); INSERT INTO animals (id, name, species, weight) VALUES (1, 'Elephant', 'African', 6000), (2, 'Lion', 'African', 400), (3, 'Hippo', 'African', 3000), (4, 'Tiger', 'Asian', 300), (5, 'Crane', 'African', 100), (6, 'Rhinoceros', 'African', 2000), (7, 'Zebra', 'African', 450), (8, 'Giraffe', 'African', 1200), (9, 'Bear', 'Eurasian', 600), (10, 'Crocodile', 'Nile', 700);[/INST][/INST]

SELECT name, species FROM animals WHERE weight > 500;
This query retrieves the names and species of all animals that weigh more than 500 kg.
==========
Prompt: 257 tokens, 227.935 tokens-per-sec
Generation: 38 tokens, 32.559 tokens-per-sec
Peak memory: 7.595 GB

In [33]:
prompt = """Count the number of unique users who engaged with virtual tours in 'January'?
CREATE TABLE user_activity (user_id INT, activity_date DATE); INSERT INTO user_activity (user_id, activity_date) VALUES (1, '2023-01-01'), (2, '2023-01-05'), (3, '2023-01-07'), (4, '2023-01-10'), (5, '2023-01-12');"""

```
SELECT COUNT(DISTINCT user_id) FROM user_activity WHERE EXTRACT(MONTH FROM activity_date) = 1;
```

In [34]:
model, tokenizer = load("mlx_model")
messages = [{"role": "user", "content": prompt}]
prompt = tokenizer.apply_chat_template(
    messages, tokenize=False, add_generation_prompt=True
)

response = generate(model, tokenizer, prompt=prompt, max_tokens=500, verbose=True)

==========
Prompt: <s>[INST] Count the number of unique users who engaged with virtual tours in 'January'?
CREATE TABLE user_activity (user_id INT, activity_date DATE); INSERT INTO user_activity (user_id, activity_date) VALUES (1, '2023-01-01'), (2, '2023-01-05'), (3, '2023-01-07'), (4, '2023-01-10'), (5, '2023-01-12');[/INST]
To count the number of unique users who engaged with virtual tours in 'January', you would first need to filter the data for the 'activity_date' in January, and then count the distinct user_id. Here's how you can do it using SQL:

```sql
SELECT COUNT(DISTINCT user_id) as unique_users
FROM user_activity
WHERE activity_date LIKE '2023-01-%';
```

This query will return the count of distinct user_id where the activity_date starts with '2023-01-'. This means it will return the count of unique users who engaged with virtual tours in January.

Please note that the year '2023' in the example is just a placeholder. You should replace it with the actual year for which you have data.

Also, this assumes that the 'activity_date' in your table is in the format 'YYYY-MM-DD'. If it's in a different format, you'll need to adjust the format in the WHERE clause.

Lastly, this example uses SQL syntax for a generic SQL database. If you're using a specific database like MySQL, PostgreSQL, SQLite, etc., you might need to adjust the syntax slightly.
==========
Prompt: 133 tokens, 189.890 tokens-per-sec
Generation: 284 tokens, 31.964 tokens-per-sec
Peak memory: 7.595 GB

In [35]:
model, tokenizer = load("lora_fused_model")
messages = [{"role": "user", "content": prompt}]
prompt = tokenizer.apply_chat_template(
    messages, tokenize=False, add_generation_prompt=True
)

response = generate(model, tokenizer, prompt=prompt, max_tokens=500, verbose=True)

==========
Prompt: <s>[INST] <s>[INST] Count the number of unique users who engaged with virtual tours in 'January'?
CREATE TABLE user_activity (user_id INT, activity_date DATE); INSERT INTO user_activity (user_id, activity_date) VALUES (1, '2023-01-01'), (2, '2023-01-05'), (3, '2023-01-07'), (4, '2023-01-10'), (5, '2023-01-12');[/INST][/INST]

SELECT COUNT(DISTINCT user_id) FROM user_activity WHERE activity_date >= '2023-01-01' AND activity_date <= '2023-01-31';
This query counts the number of unique users who engaged with virtual tours in 'January' by filtering the user_activity table for rows where the activity_date is between '2023-01-01' and '2023-01-31'. It then uses the COUNT(DISTINCT user_id) function to count the number of unique users.
==========
Prompt: 137 tokens, 194.444 tokens-per-sec
Generation: 137 tokens, 32.286 tokens-per-sec
Peak memory: 7.595 GB

In [36]:
prompt = """How many hospitals are there in each state in the United States?
CREATE TABLE Hospitals (HospitalID INT, HospitalName VARCHAR(255), State VARCHAR(255)); INSERT INTO Hospitals (HospitalID, HospitalName, State) VALUES (1, 'Alaska General Hospital', 'Alaska'), (2, 'Bama Healthcare', 'Alabama'), (3, 'California Care', 'California'), (4, 'Delaware Hospital', 'Delaware'), (5, 'Florida Medical Center', 'Florida');"""

```
SELECT State, COUNT(*) FROM Hospitals GROUP BY State;
```

In [37]:
model, tokenizer = load("mlx_model")
messages = [{"role": "user", "content": prompt}]
prompt = tokenizer.apply_chat_template(
    messages, tokenize=False, add_generation_prompt=True
)

response = generate(model, tokenizer, prompt=prompt, max_tokens=500, verbose=True)

==========
Prompt: <s>[INST] How many hospitals are there in each state in the United States?
CREATE TABLE Hospitals (HospitalID INT, HospitalName VARCHAR(255), State VARCHAR(255)); INSERT INTO Hospitals (HospitalID, HospitalName, State) VALUES (1, 'Alaska General Hospital', 'Alaska'), (2, 'Bama Healthcare', 'Alabama'), (3, 'California Care', 'California'), (4, 'Delaware Hospital', 'Delaware'), (5, 'Florida Medical Center', 'Florida');[/INST]
To provide a more comprehensive list, I've used data from the American Hospital Association (AHA) for the number of hospitals in each state as of 2020. Here's the SQL code to create the table and insert the data:

```sql
CREATE TABLE Hospitals (
  HospitalID INT,
  HospitalName VARCHAR(255),
  State VARCHAR(255)
);

INSERT INTO Hospitals (HospitalID, HospitalName, State)
VALUES
  (1, 'Alaska General Hospital', 'Alaska'),
  (2, 'Bama Healthcare', 'Alabama'),
  (3, 'California Care', 'California'),
  (4, 'Delaware Hospital', 'Delaware'),
  (5, 'Florida Medical Center', 'Florida'),
  (6, 'Georgia Health Services', 'Georgia'),
  (7, 'Hawaii Medical Center', 'Hawaii'),
  (8, 'Idaho Healthcare', 'Idaho'),
  (9, 'Illinois Hospital', 'Illinois'),
  (10, 'Indiana Medical Center', 'Indiana'),
  (11, 'Iowa Health Services', 'Iowa'),
  (12, 'Kansas Care', 'Kansas'),
  (13, 'Kentucky Hospital', 'Kentucky'),
  (14, 'Louisiana Medical Center', 'Louisiana'),
  (15, 'Maine Medical Center', 'Maine'),
  (16, 'Maryland Hospital', 'Maryland'),
  (17, 'Massachusetts General Hospital', 'Massachusetts'),
  (18, 'Michigan Health Services', 'Michigan'),
  (19, 'Minnesota Medical Center', 'Minnesota'),
  (20, 'Mississippi Hospital', 'Mississippi'),
  (21, 'Missouri Care', 'Missouri'),
  (22, 'Montana Health Services', 'Montana'),
  (23, 'Nebraska Medical Center', 'Nebraska'),
  (24, 'Nevada Health
==========
Prompt: 131 tokens, 204.701 tokens-per-sec
Generation: 500 tokens, 33.225 tokens-per-sec
Peak memory: 7.595 GB

In [38]:
model, tokenizer = load("lora_fused_model")
messages = [{"role": "user", "content": prompt}]
prompt = tokenizer.apply_chat_template(
    messages, tokenize=False, add_generation_prompt=True
)

response = generate(model, tokenizer, prompt=prompt, max_tokens=500, verbose=True)

==========
Prompt: <s>[INST] <s>[INST] How many hospitals are there in each state in the United States?
CREATE TABLE Hospitals (HospitalID INT, HospitalName VARCHAR(255), State VARCHAR(255)); INSERT INTO Hospitals (HospitalID, HospitalName, State) VALUES (1, 'Alaska General Hospital', 'Alaska'), (2, 'Bama Healthcare', 'Alabama'), (3, 'California Care', 'California'), (4, 'Delaware Hospital', 'Delaware'), (5, 'Florida Medical Center', 'Florida');[/INST][/INST]

SELECT COUNT(*) FROM Hospitals WHERE State = 'Alaska';
SELECT COUNT(*) FROM Hospitals WHERE State = 'Alabama';
SELECT COUNT(*) FROM Hospitals WHERE State = 'California';
SELECT COUNT(*) FROM Hospitals WHERE State = 'Delaware';
SELECT COUNT(*) FROM Hospitals WHERE State = 'Florida';
This query calculates the number of hospitals in each state by counting the number of rows in the Hospitals table where the State column matches the specified state.
==========
Prompt: 135 tokens, 209.383 tokens-per-sec
Generation: 120 tokens, 33.794 tokens-per-sec
Peak memory: 7.595 GB